<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>David Lynch</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/works">Works</a></li>
          <li><a href="/gallery">Photo Gallery</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Welcome to David Lynch's website</h1>
      <div class="container">
        <div class="card">
          <img src="/images/david-lynch-young.jpeg" alt="Young" />
          <div class="content">
            <h2>Early life</h2>
            <p>
              David Keith Lynch was born in Missoula, Montana, on January 20,
              1946.His father, Donald Walton Lynch (1915–2007), was a research
              scientist working for the U.S. Department of Agriculture (USDA),
              and his mother, Edwina "Sunny" Lynch (née Sundberg; 1919–2004),
              was an English language tutor. Two of Lynch's maternal
              great-grandparents were Finnish-Swedish immigrants who arrived in
              the U.S. during the 19th century.[12] He was raised as a
              Presbyterian.[13][14] The Lynches often moved around according to
              where the USDA assigned Donald. Because of this, Lynch moved with
              his parents to Sandpoint, Idaho, when he was two months old; two
              years later, after his brother John was born, the family moved to
              Spokane, Washington. Lynch's sister Martha was born there. The
              family then moved to Durham, North Carolina, Boise, Idaho, and
              Alexandria, Virginia.Lynch adjusted to this transitory early life
              with relative ease, noting that he usually had no issue making new
              friends whenever he started attending a new school.
            </p>
          </div>
        </div>
        <div class="card">
          <img src="/images/david-lynch-middle.jpeg" alt="Career" />
          <div class="content">
            <h2>Career</h2>
            <p>
              Lynch studied painting before he began making short films in the
              late 1960s. His first feature-length film was Eraserhead (1977).
              He received nominations for the Academy Award for Best Director
              for The Elephant Man (1980), Blue Velvet (1986), and Mulholland
              Drive (2001).[4] His film Wild at Heart (1990) earned the Cannes
              Film Festival's Palme d'Or. Other notable films include Dune
              (1984), Lost Highway (1997), and Inland Empire (2006). Lynch and
              Mark Frost created the ABC series Twin Peaks (1990–1991), and
              Lynch co-wrote and directed its film prequel, Twin Peaks: Fire
              Walk with Me (1992) and the limited series Twin Peaks: The Return
              (2017).[5] He also portrayed Gordon Cole in the Twin Peaks
              projects.
            </p>
          </div>
        </div>
        <div class="card">
          <img src="/images/david-lynch-old.jpeg" alt="Influences" />
          <div class="content">
            <h2>Influences</h2>
            <p>
              Lynch has said his work is more similar to that of European
              filmmakers than American ones, and that most films that "get down
              and thrill your soul" are by European directors.He has expressed
              his admiration for Federico Fellini,Jean-Luc Godard, Ingmar
              Bergman, Werner Herzog, Alfred Hitchcock, Roman Polanski, Jacques
              Tati, Stanley Kubrick, and Billy Wilder. He has said that Wilder's
              Sunset Boulevard (1950) is one of his favorite pictures,as are
              Kubrick's Lolita (1962), Tati's Monsieur Hulot's Holiday (1953),
              Hitchcock's Rear Window (1954), and Herzog's Stroszek (1977). He
              has also cited Herk Harvey's Carnival of Souls (1962) and Jerzy
              Skolimowski's Deep End (1970) as influences on his work.
            </p>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
