<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/works">Works</a></li>
          <li><a href="/gallery">Photo Gallery</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Welcome to David Lynch's website</h1>
      <p>Here you can find information about David Lynch and his work.</p>
      <div class="container">
        <div class="card">
          <img src="/images/eraserhead.jpeg" alt="Eraserhead" />
          <div class="content">
            <h2>Eraserhead</h2>
            <p>A surreal and nightmarish film</p>
          </div>
        </div>
        <div class="card">
          <img src="/images/twin-peaks.jpeg" alt="Twin Peaks" />
          <div class="content">
            <h2>Twin Peaks</h2>
            <p>A TV series about the murder of a young woman</p>
          </div>
        </div>
        <div class="card">
          <img src="/images/mulholland-drive2.jpeg" alt="Mulholland Drive" />
          <div class="content">
            <h2>Mulholland Drive</h2>
            <p>A story of love, jealousy, and Hollywood</p>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
