<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>Movies and Tv Shows</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/works">Works</a></li>
          <li><a href="/gallery">Photo Gallery</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Welcome to David Lynch's website</h1>

      <div class="container">
        <div class="card">
          <img src="/images/lost-highway.jpeg" alt="Lost Highway" />
          <div class="content">
            <h2>Lost Highway</h2>
            <p>
              Lost Highway is a 1997 surrealist neo-noir psychological thriller
              horror film directed by David Lynch and co-written by Lynch and
              Barry Gifford. It stars Bill Pullman, Patricia Arquette, Balthazar
              Getty, and Robert Blake in his final film role. The film follows a
              musician (Pullman) who begins receiving mysterious VHS tapes of
              him and his wife (Arquette) in their home. He is suddenly
              convicted of murder, after which he inexplicably disappears and is
              replaced by a young mechanic (Getty) leading a different life.
            </p>
          </div>
        </div>
        <div class="card">
          <img src="/images/blue-velvet.jpeg" alt="Blue Velvet" />
          <div class="content">
            <h2>Blue Velvet</h2>
            <p>
              Blue Velvet, was set in the real town of Lumberton, North
              Carolina, and revolves around a college student, Jeffrey Beaumont
              (MacLachlan), who finds a severed ear in a field. Investigating
              further with the help of friend Sandy (Laura Dern), he discovers
              that it is related to a criminal gang led by psychopath Frank
              Booth (Dennis Hopper), who has kidnapped the husband and child of
              singer Dorothy Vallens (Isabella Rossellini) and repeatedly rapes
              her. Lynch has called the story "a dream of strange desires
              wrapped inside a mystery story"
            </p>
          </div>
        </div>
        <div class="card">
          <img src="/images/wild-at-heart.jpeg" alt="Wild at Heart" />
          <div class="content">
            <h2>Wild at Heart</h2>
            <p>
              Lynch adapted the novel into Wild at Heart, a crime and road movie
              starring Nicolas Cage as Sailor and Laura Dern as Lula Describing
              its plot as a "strange blend" of "a road picture, a love story, a
              psychological drama and a violent comedy", Lynch altered much of
              the original novel, changing the ending and incorporating numerous
              references to The Wizard of Oz.Despite a muted response from
              American critics and viewers, Wild at Heart won the Palme d'Or at
              the 1990 Cannes Film Festival.
            </p>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
